In [1]:
# Dependencies
import requests
import espn_credentials
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
# Define URL parameters
league_id = espn_credentials.league_id
year = 2021

# Define the URL with our parameters
url = "https://fantasy.espn.com/apis/v3/games/ffl/leagueHistory/" + \
      str(league_id) + "?seasonId=" + str(year)

# Pull team and matchup data from the URL 
matchup_response = requests.get(url, params={"view": "mMatchup"}, verify=False)
team_response = requests.get(url, params={"view": "mTeam"}, verify=False)

# Transform the response into a json
matchup_json = matchup_response.json()[0]
team_json = team_response.json()[0]

C:\Users\bryantim\AppData\Local\Programs\Python\Python310\lib\site-packages\urllib3\connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'fantasy.espn.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(
C:\Users\bryantim\AppData\Local\Programs\Python\Python310\lib\site-packages\urllib3\connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'fantasy.espn.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [35]:
# Transform both of the json outputs into DataFrames
matchup_df = pd.json_normalize(matchup_json['schedule'])

team_df = pd.json_normalize(team_json['teams'])

In [36]:
# Define the column names needed
matchup_column_names = {
    'matchupPeriodId':'Week', 
    'away.teamId':'Team1', 
    'away.totalPoints':'Score1',
    'home.teamId':'Team2', 
    'home.totalPoints':'Score2',
}

team_column_names = {
    'id':'id',
    'location':'Name1',
    'nickname':'Name2'
}

# Reindex based on column names defined above
matchup_df = matchup_df.reindex(columns=matchup_column_names).rename(columns=matchup_column_names)
team_df = team_df.reindex(columns=team_column_names).rename(columns=team_column_names)

In [37]:
# Add a new column for regular/playoff game based on week number
matchup_df['Type'] = ['Regular' if week<=13 else 'Playoff' for week in matchup_df['Week']]

# Concatenate the two name columns
team_df['Name'] = team_df['Name1'] + ' ' + team_df['Name2']

# Drop all columns except id and Name
team_df = team_df.filter(['id', 'Name'])

In [38]:
matchup_df['Team1'].value_counts()

1.0     9
11.0    9
3.0     9
12.0    9
10.0    8
2.0     8
4.0     7
14.0    7
13.0    7
8.0     6
Name: Team1, dtype: int64

In [39]:
team_df

   id                         Name
0   1            Livin on a Prayer
1   2  Ill.  Fantasy Football Team
2   3         2021 League Champion
3   4                   The Grinch
4   8         Dictator D*ck  Down
5  10            Titsburgh Feelers
6  11           The Long  Virgins
7  12                Kobe's Pilot
8  13         Hooked on a  Thielen
9  14    Discharg Coated Cleft Lip

In [30]:
matchup_df

    Week  Team1  Score1  Team2  Score2     Type
0      1    1.0  107.47      2  122.72  Regular
1      1   11.0  137.67      4  151.86  Regular
2      1    3.0  191.56     14  130.37  Regular
3      1   12.0  123.95      8  126.94  Regular
4      1   10.0  131.38     13  153.60  Regular
..   ...    ...     ...    ...     ...      ...
76    16    3.0  112.32     13  108.10  Playoff
77    16    2.0  105.13      8  109.06  Playoff
78    16   11.0  130.18      4  109.97  Playoff
79    16    1.0   99.95     14  138.48  Playoff
80    16   12.0  139.26     10   98.62  Playoff

[81 rows x 6 columns]

In [40]:
# Rename Team1 column to id
matchup_df = matchup_df.rename(columns={"Team1":"id"})

# Merge DataFrames to get team names in matchup data
df = matchup_df.merge(team_df, on=['id'], how='left')

# Drop the id column


df

    Week    id  Score1  Team2  Score2     Type                         Name
0      1   1.0  107.47      2  122.72  Regular            Livin on a Prayer
1      1  11.0  137.67      4  151.86  Regular           The Long  Virgins
2      1   3.0  191.56     14  130.37  Regular         2021 League Champion
3      1  12.0  123.95      8  126.94  Regular                Kobe's Pilot
4      1  10.0  131.38     13  153.60  Regular            Titsburgh Feelers
..   ...   ...     ...    ...     ...      ...                          ...
76    16   3.0  112.32     13  108.10  Playoff         2021 League Champion
77    16   2.0  105.13      8  109.06  Playoff  Ill.  Fantasy Football Team
78    16  11.0  130.18      4  109.97  Playoff           The Long  Virgins
79    16   1.0   99.95     14  138.48  Playoff            Livin on a Prayer
80    16  12.0  139.26     10   98.62  Playoff                Kobe's Pilot

[81 rows x 7 columns]